<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de tarefas - Listagem</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="fragments/fragments :: cabecalho"></div>

    <div class="container">
        <h3>Listagem de tarefas</h3>
        <a href="/tasks/insert" class="btn btn-success">Inserir nova tarefa</a>
        <div th:each="task : ${tasks}" class="m-3">
            <div class="card bg-light mb-3">
                <div class="card-header" th:text="${task.title}"></div>
                <div class="card-body">
                    <p class="card-text" th:text="${task.description}"></p>
                    <p class="card-text" th:text="${'Data de expiração: ' + #dates.format(task.expirationDate, 'dd/MM/yyyy') }"></p>
                    <p class="card-text" th:if="${task.expirationDate.after(new java.util.Date())}" style="color: green">Em dia</p>
                    <p class="card-text" th:if="${task.expirationDate.before(new java.util.Date())}" style="color: red">Atrasada</p>
                </div>
                <div class="card-footer bg-light">
                    <p>
                        <a th:href="@{/tasks/update/{id}(id=${task.id})}">Alterar</a> |
                        <a th:href="@{/tasks/remove/{id}(id=${task.id})}">Remover</a> |
                        <a th:if="${!task.done}" th:href="@{/tasks/close/{id}(id=${task.id})}">Concluir</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>