<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de tarefas - Alteração de nova tarefa</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/fragments :: cabecalho"></div>

<div class="container">
    <h3>Alteração de nova tarefa</h3>
    <form th:action="@{/tasks/update/{id}(id=${task.id})}" method="POST" class="form-horizontal" th:object="${task}">
        <input hidden th:field="*{id}">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}">
                    <label th:errors="*{title}" class="validation-message"></label>
                </div>
                <label for="title">Título</label>
                <input id="title" type="text" maxlength="50" class="form-control" th:field="*{title}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}">
                    <label th:errors="*{description}" class="validation-message"></label>
                </div>
                <label>Descrição</label>
                <input type="text" maxlength="100" class="form-control" th:field="*{description}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('expirationDate')}">
                    <label th:errors="*{expirationDate}" class="validation-message"></label>
                </div>
                <label>Data de expiração</label>
                <input type="date" class="form-control" th:field="*{expirationDate}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>