<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de tarefas - Inclusão de usuário</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="cabecalho">
        <a href="#" class="navbar-brand">Gerenciador de tarefas - Registrar</a>
    </nav>

    <div class="container">
        <h3>Novo usuário</h3>
        <form action="/registration" method="POST" class="form-horizontal" th:object="${user}">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
                        <label th:errors="*{email}" class="validation-message"></label>
                    </div>
                    <label for="email">E-mail</label>
                    <input id="email" type="text" maxlength="100" class="form-control" th:field="*{email}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}">
                        <label th:errors="*{password}" class="validation-message"></label>
                    </div>
                    <label>Senha</label>
                    <input type="password" maxlength="100" class="form-control" th:field="*{password}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>